body {
  padding-bottom: 50pt;
  padding-top: 5pt;
  padding-left: 25pt;
  padding-right: 25pt;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

header {
  border-bottom: 1pt solid #e5e5e5;
  margin-bottom: 40pt;
}

header h1 {
  margin-top: 15pt;
  color: #fed136;
  font-weight: bold;
}

header h3 {
  margin-left: 15pt;
  margin-top: -5pt;
}

header ul {
  clear: both;
  margin: 0;
  padding: 0;
}

header li {
  float: right;
  list-style: none;
  margin-right: 15pt;
  font-size: large;
}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: justify
}

main p {
  text-indent: 15pt;
}

article {
  margin-bottom: 25pt;
}

article.warning {
  border-left: 2pt solid #EC7063;
  padding-left: 8pt;
}

article.info {
  border-left: 2pt solid #82E0AA;
  padding-left: 8pt;
}

aside {
  display: block;
  background: white;
  float: right;
  padding-left: 25pt;
  padding-bottom: 25pt;
  min-width: 100pt;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  list-style: none;
}

footer {
  margin-top: 10pt;
  padding-top: 5pt;
  color: #777;
  border-top: 1pt solid #e5e5e5;
  clear: both;
}

footer .prev-page-link {
  float: left;
  display: block;
}

footer .copyright {
  float: right;
  display: block;
}

footer .footer-links {
  margin-left: 15pt;
  clear: both;
  display: block;
  margin-top: 10pt;
  text-align: center;
}

footer .footer-links a {
  margin-right: 5pt;
  margin-left: 5pt;
}

p {
  font-size: medium;
  line-height: 1.75;
}

h2 {
  margin-bottom: 10pt;
  margin-top: 10pt;
}

h3 {
  margin-bottom: 5pt;
  font-size: medium;
  color: #7B7D7D;
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 1200pt) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200pt;
  }
}

@media screen and (max-width: 768pt) {
  body {
    padding-bottom: 50pt;
    padding-top: 5pt;
    padding-left: 15pt;
    padding-right: 15pt;
  }
  h1 {
    font-size: large;
    margin: 10pt;
  }
  h2 {
    font-size: medium;
    margin-bottom: 5pt;
    margin-top: 5pt;
  }
  h3 {
    font-size: small;
    margin-bottom: 3pt;
    margin-top: 3pt;
  }
  p {
    font-size: small;
    line-height: 1.5;
  }
  header {
    margin-bottom: 30pt;
  }
  header li {
    font-size: medium;
    margin-right: 10pt;
  }
  aside {
    padding-left: 15pt;
    padding-bottom: 15pt;
  }
  aside li {
    font-size: medium;
  }
  main {
    width: 95%;
  }
  main p {
    text-indent: 10pt;
  }
  footer {
    font-size: small;
  }
}

@media screen and (max-width: 425pt) {
  body {
    padding-bottom: 10pt;
    padding-top: 0;
    padding-left: 5pt;
    padding-right: 5pt;
  }
  h1 {
    font-size: medium;
  }
  h2 {
    font-size: small;
    margin-bottom: 2pt;
    margin-top: 2pt;
  }
  h3 {
    font-size: small;
    margin-bottom: 1pt;
    margin-top: 1pt;
  }
  p {
    font-size: small;
    line-height: 1;
  }
  header {
    margin-bottom: 20pt;
  }
  header li {
    font-size: small;
    margin-right: 5pt;
    float: right;
    display: inline;
  }
  aside {
    padding-left: 10pt;
    padding-bottom: 10pt;
    float: none;
  }
  aside div {
    overflow: scroll;
    max-height: 150pt;
  }
  aside ul {
    column-count: 3;
  }
  aside li {
    font-size: small;
  }
  main {
    width: 100%;
  }
  main p {
    text-indent: 5pt;
  }
  footer {
    font-size: small;
  }
  footer .prev-page-link {
    float: none;
    text-align: center;
  }
  footer .copyright {
    float: none;
    margin-top: 10pt;
    padding-bottom: 5pt;
    text-align: center;
  }
}
